* {
    font-family: sans-serif;
    background-color: #f9f5f6;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: white;
    height: 60px;
    z-index: 1000;

    & * {
        background-color: inherit;
        display: flex;
    }
}

.header__menu {
    list-style-type: none;
}

.header__menu-item {
    margin-left: 15px;

    & a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* Expand to push footer to the bottom */
    align-items: center;
}

h1 {
    margin-top: 0%;
    background-color: #f8e8ee;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__box-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & p {
        background-color: inherit;
    }
}

.main__box {
    display: flex;
    flex-direction: column;
    width: 48%;
    border-radius: 20px;
    height: 400px;
    background-color: #f8e8ee;
    align-items: center;
    justify-content: center;

    & p {
        font-size: 22px;
        padding: 2px;
    }
}

.main__img-card {
    display: flex;
    height: 350px;

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.main__load-btn {
    padding: 10px;
    margin-bottom: 40px;
    color: #645353;
    font-weight: bold;
    border: 4px solid #645353;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

footer {

    bottom: 0;
    /* Position the footer at the bottom */
    width: 100%;
    font-size: 12px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    /* aligns the buttons with the bottom edge of a column, regardless of the amount of content inside the column */
}

@media (max-width: 650px) {
    .header__nav {
        overflow: auto;
    }

    .header__menu {
        padding: 0%;
        margin: 0%;
    }

    .header__menu-item {
        margin-left: 10px;

        & a {
            font-size: 12px;
        }
    }

    .main__box {
        width: 90%;
    }
}