<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member page</title>
</head>

<body>
    <h1>Welcome! <%= username %></h1>
    <h3>Personal information</h3>
    <ul>
        <li><b>Member Id:</b> <%= id %></li>
        <li><b>Email:</b> <%= email %></li>
    </ul>
    <button><a href='/logout'>登出</a></button>
</body>

</html>